body {
    background: #f9f9f9;
    position: relative;
}
#add-fail {
    position: absolute;
    float: left;
    top: 16px;
    right: 15%;
    margin: 0 0 0 12px;
}
.float-left {
    float: left;
}

.mr-12 {
    padding: 0 12px 0 0;
}
#gifs-appear-here {
    width: 70%;
}
#input-text {
    font-weight: bold;
}

.submissions {
    margin: .5rem 0;
}

button,
#submit {
    background: #428bca;
    color: #fff;
    margin: 0 .5rem 0 0;
}

button:hover, #submit:hover {
    opacity: .6;
}