html {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-color: #cccccc;
    background-size: cover;
}

.container {
    position: relative;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 400;
}

#gifs-appear-here {
    float: left;
    width: 60%;
}

#gifs-appear-here:after {
    content: "";
    display: table;
    clear: both;
}

#input-text {
    font-weight: bold;
}

#add-fail {
    display: block;
    position: absolute;
    left: 65%;
}

.float-left {
    float: left;
}

.mr-12 {
    padding: 0 12px 0 0;
}





.submissions {
    margin: .5rem 0;
}

button,
#submit {
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: #428bca;
    color: #000;
    margin: 0 .25rem 0 0;
    padding: .5rem;
}

button:hover,
#submit:hover {
    background-color: #004176;


}

button:focus {
    background: #42afff;
    color: #fff;
    opacity: .6;
    outline: none;
}

